h2 Cadastrar Usuário
label(for='nome') Fullname: 
input(ng-model='form.nome', name='nome')
p Email:
input(ng-model='form.email', name='email')
p Company:
input(ng-model='form.company', name='company')
p Profession:
input(ng-model='form.profession', name='profession')
p Phone:
input(ng-model='form.phone', name='phone')
p
  button(ng-click='submitPost()') Submit Post